
.nav { background-color : #f7f7f9; overflow:hidden; padding-top:0.3em; padding-bottom:0.3em;}

.nav .nav-link { color: #212529;}

.bold-font {font-weight:bold;}
.normal-font {font-weight:normal;}

#banner { text-align:center; margin-top:2rem;}

#copyright div { font-weight: lighter; text-align:center;}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 60px;
    }